<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
</head>
<body class="m-2">
    <div class="bg-info p-2 row">
        <div class="col"><a class="navbar-brand btn btn-light" href="/">Drink Shop</a></div>

        <div class="col-4">
            <a class="btn btn-sm btn-primary"
               asp-action="Index" asp-controller="Admin">Products</a>
            <a class="btn btn-sm btn-primary"
               asp-action="List" asp-controller="Order">Orders</a>
            <a class="btn btn-sm btn-primary"
               asp-action="Index" asp-controller="User">Users</a>
            <a class="btn btn-sm btn-primary"
               asp-action="Index" asp-controller="RoleAdmin">Roles</a>
            <a class="btn btn-sm btn-primary"
               asp-action="Logout" asp-controller="Account">Log Out</a>
        </div>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success mt-1">@TempData["message"]</div>
    }
    @RenderBody()
</body>
</html>